<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="style.css">
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap" rel="stylesheet">
<body>
    <h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h1>
    <p>Consectetur deserunt dolorem doloremque ea facere iste molestias quos totam.</p>
    <p><strong>
        Asperiores consequuntur, corporis dolor est fugit harum, illo molestiae neque nisi optio, perferendis quae quibusdam
    quos reiciendis repudiandae veniam vitae.
    </strong></p>
    Accusamus assumenda beatae cupiditate delectus dicta et, inventore ipsum magnam, mollitia non,
    odit quae quam quis rem repudiandae similique sint suscipit voluptatem. Accusamus accusantium, at beatae culpa
    debitis harum illum ipsam, iure minus nostrum odio placeat quidem, quo reiciendis reprehenderit sapiente sint voluptate!
    Adipisci dolore doloremque eligendi ipsa minus provident ut voluptate, voluptates.
    Aperiam aut eveniet libero quia quos reprehenderit totam! Itaque!
</body>
</html>